@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-size:  18px;
    text-align: center;
    line-height: 1.2;
    background-color: #BFDBF7;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}
div.header-sinfoto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-div_img-logo{
    justify-content: center;
    display: flex;
    
}
img.foto{
    max-width: 600px;
    height: 800px;
    object-fit: cover;
}
img.iconos{
    width: 100px;
    height: 100px;
}
img.logos{
    width: 20px;
    height: 20px;
}
div.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
div.columnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
footer{
    background-color: #022B3A;
    margin: 10px 0px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
im.cv{
    width: 10px;
    height: 120px;
}
}
div.fondo-contacto{
    background-color:#FFFFFF;
    border-radius: 10px;
    margin: 5px;
}
p.fondo-actualmente{
    background-color:#FFFFFF;
}
h1{
    font-size: 36px;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;
}
h2{
    font-size: 28px;
}

article{
    background-color: #022B3A;
    color: #FFFFFF;
}
p.parrafo-columna{
    width: 500px;
}